*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #ecf0f1;
}

.container{
    max-width: 400px;
    margin: 300x auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social ul li{
    display: inline;
}

.social ul li a{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 23%;
    background-color: white;
    margin: 5px;
    
}

.social ul li a i{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#face{
    color: #3b599c;
}

#twit{

color: #36ccff;
}

#goo{
    color: #df5238;
}

#drib{
    color: rgb(255, 69, 69);
   }
#skype{
    color: #00aff0;
}